<h1> Gossip N° <%= params[:id] %> </h1>

<p>
Titre : <%= @gossip.title %> 
</p>
<p>
Auteur :  <%= link_to @gossip.user.first_name, user_path(@gossip.user) %>
</p>
<p>
Contenu : <%= @gossip.content %>
</p>
<p>
Créer le : <%= @gossip.created_at %>
</p>
<p>
Créer à <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %>
<p>
<%= link_to "supprimer le gossip", gossip_path(@gossip), method: :delete %>


</p>


